*{
  transition: .2s;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background: none;
  width: 5px;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1);
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar-track-piece {
    margin: 5px;
}


html, body, body > section{
  height: 600px;
  width: 340px;
  margin: 0;
  padding: 0;
}

body {
  background: #003147;
  color: #fff;
}

body > section {
  display: flex;
  flex-direction: column;
  height: calc(100% - 12em);
  position: fixed;
  padding: 5%;
  left: 100%;
  top: 12em;
  overflow: auto;
}

#init{
  top: 0;
  height: 100%;
}

body > section:target{
  left: 0;
}

input, button {
  padding: .3em;
  height: 2.5em;
  line-height: 2em;
  border: none;
  background: #fff;
}

button{
  line-height: normal;
  background: black;
  color: #fff;
  border: solid 1px #fff;
  text-align: center;
  transition: .2s;
  height: 2.5em;
  cursor: pointer;
}

button:hover{
  background: #fff;
  color: #00A3ED;
}

input[type="number"]{
  width: 3em;
}

ul{
  -webkit-padding-start: 1em;
  margin: 1em 0;
}

h1, h2, h3, h4, h5{
  margin: 0;
}

.match-parent{
  width: 100%;
}

.full-parent{
  height: 100%;
  width: 100%;
}

.flex-container{
  display:flex;
}

.flex-row{
  flex-direction: row;
}

.flex-column{
  flex-direction: column;
}

.flex-nowrap{
  flex-wrap: nowrap;
}

.ellipsis, .ellipsis2, .ellipsis3{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.ellipsis{
  -webkit-line-clamp: 1;
}

.ellipsis2{
  -webkit-line-clamp: 2;
}

.ellipsis3{
  -webkit-line-clamp: 3;
}

.stretch{
  flex-grow: 1;
  flex-shrink: 1;
}

.nowrap{
  white-space: nowrap;
}

.thmub{
  height: 10rem;
}

p{
  line-height: 2;
}

.margin-button{
  margin: 0 1em;
}

#logo{
  height: 3em;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity:0;
  padding: 5%;
}

:target:not(#init) ~ header{
  opacity: 100;
}

#init:target ~ #logo{
  width: calc(100% - 2em);
}

#loading{
  z-index: -1;
  position: fixed;
  width: 60px;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
:target ~ #loading{
  opacity: 0;
}

#videoDescription{
  margin: 0;
  white-space: pre-wrap;
}

#search-result{
  padding: 0;
  font-size: .7em;
}

#search-result:after{
  content: "That's all of result.";
  height: 1em;
  width: 100%;
  list-style: none;
  text-align: center;
  display: list-item;
}

#search-result.loading:after{
  content: "loading";
  height: 5em;
  background: no-repeat bottom/3em url(./ring-alt.svg);
}

#search-result *{
  margin: 0;
  padding: 0;
}

#search-result li{
  overflow: hidden;
}

#search-result .thumb{
  height: 7em
}
