*{
  transition: .2s;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background: none;
  width: 5px;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1);
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar-track-piece {
    margin: 5px;
}

a{
  color: white;
}

html, body, body > section{
  height: 600px;
  width: 340px;
  margin: 0;
  padding: 0;
}

body {
  background: #003147;
  color: #fff;
}

body > section {
  height: calc(100% - 12em);
  position: fixed;
  padding: 5%;
  left: 100%;
  top: 12em;
  overflow: auto;
}

#init{
  top: 0;
  height: 100%;
}

body > section:target{
  left: 0;
}

input, button, select{
  padding: .3em;
  height: 2.5em;
  line-height: 2em;
  border: none;
  background: #fff;
}

button, select{
  line-height: normal;
  background: black;
  color: #fff;
  border: solid 1px #fff;
  text-align: center;
  transition: .2s;
  height: 2.5em;
  cursor: pointer;
}

button:hover, button:focus{
  background: #fff;
  color: #00a3ed;
}

input[type="number"]{
  width: 3em;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  margin: 0 .5em;
  background:  rgba(255, 255, 255, 0);
  width: 2em;
  height: 1em;
  border: solid 1px #fff;
  border-radius: 0.5em;
  position: relative;
  left: 0;
  transition: 0.2s;
}

input[type="checkbox"]:before {
  content: "";
  width: 1em;
  height: 1em;
  background: #fff;
  position: absolute;
  border-radius: 0.5em;
  top: 0;
  left: 0;
  transition: 0.2s;
}

input[type="checkbox"]:checked {
  background: #44f;
}

input[type="checkbox"]:checked:before {
  left: 1em;
}


:focus{
  outline: #44f solid 1px;
}

ul{
  -webkit-padding-start: 1em;
  margin: 1em 0;
}

.match-parent{
  width: 100%;
}

.full-parent{
  height: 100%;
  width: 100%;
}

.flex-container{
  display:flex;
}

.flex-row{
  flex-direction: row;
}

.flex-column{
  flex-direction: column;
}

.flex-nowrap{
  flex-wrap: nowrap;
}

.ellipsis, .ellipsis2, .ellipsis10{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.ellipsis{
  -webkit-line-clamp: 1;
}

.ellipsis2{
  -webkit-line-clamp: 2;
}

.ellipsis10{
  -webkit-line-clamp: 10;
}

.stretch{
  flex-grow: 1;
  flex-shrink: 1;
}

.nowrap{
  white-space: nowrap;
}

.thmub{
  height: 10rem;
}

.position-relative{
  position: relative;
}

.margin-button{
  margin: 0 1em;
}

.button-transparent {
  background: transparent !important;
  border: none !important;
}

.hover-rotate:hover {
  transform: rotate(30deg);
}

#logo{
  height: 3em;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity:0;
  padding: 5%;
}

:target:not(#init) ~ header{
  opacity: 100;
}

#init:target ~ header{
  display: none;
}

#autocompletes{
  opacity: .8;
  max-height: 16em;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  list-style: none;
}

#autocompletes:empty{
  display: none;
}

#autocompletes:before{
  font-size: .7em;
  content: "select word with ↑↓ and Enter.";
  box-sizing: border-box;
}

#autocompletes li,
#autocompletes:before{
  display: list-item;
  width: 100%;
  border: solid 1px;
  background: #000;
  padding: .5em;
}

#autocompletes li:not(:last-child),
#autocompletes:before{
  border-bottom: none;
}

#autocompletes li.focused{
  background: #44f;
}

#loading{
  z-index: -1;
  position: fixed;
  width: 60px;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
:target ~ #loading{
  opacity: 0;
}

#videoDescription{
  margin: 0;
  white-space: pre-wrap;
}

#search-result{
  padding: 4rem 0 0 0;
  margin: 0;
  font-size: .7em;
  height: 100%;
  overflow: auto;
  position: relative;
}

#history.hidden + #search-result{
  padding: 0;
}

#search-result:after{
  margin: 2em 0;
  content: "That's all to show.";
  height: 1em;
  width: 100%;
  list-style: none;
  text-align: center;
  display: list-item;
}

#search-result.loading:after{
  content: "loading";
  height: 5em;
  background: no-repeat bottom/3em url(./ring-alt.svg);
}

#search-result li{
  height: 7em;
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
}

#search-result li:hover,
#search-result li.focused {
  transform: scale(.9);
  opacity: .5;
}

#search-result .thumb{
  height: 7em
}

#history{
  position: absolute;
  width: 90%;
  margin: 1em 0;
  z-index: 2;
}

#history span{
  margin: 0 1em;
  align-self: center;
}

#history.hidden{
  opacity: 0;
}

#tweet{
 font-weight: bold;
}

#tweet svg{
  height: 1em;
  width: 1em;
}

#tosetting svg{
  height: 100%;
}
